{% extends "ApplyController/base.html" %}
{% load bootstrap3 %}
{% block header %}
<div class="container">
    <div class="page-header" style="margin-top:0px;">
        <h2>{{ restaurant.Name }}</h2>
    </div>
</div>
{% endblock header %}

{% block content %}
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="container">
    <div class="row-fluid">
        <div class="col-md-8">
            <ul>
                <li>开始营业时间：{{ restaurant.BusinessStartHour }}</li>
                <li>结束营业时间：{{ restaurant.BusinessEndHour }}</li>
                <li>地址：{{ restaurant.Address }}</li>
                <li>餐厅评分: {{ restaurant.Score }}</li>
                <li>餐厅种类: {{ restaurant.get_Category_display }}</li>
            </ul>
            <button type="button" class="btn btn-default" onclick="location.href='{%url 'apply:edit' restaurant.id%}'">编辑餐厅基本信息</button>
            <button type="button" class="btn btn-default" onclick="location.href='{%url 'ManagementController:review' restaurant.id%}'">查看餐厅评论</button>
        </div>
        <div class="col-md-4">
            {% if restaurant.Image %}
                <img class="img-responsive-center-block" width="400px" src="{{ restaurant.Image.url }}" />
            {% else %}
                <strong><p>暂无图片可显示</p></strong>
            {% endif %}
        </div>
    </div>
</div>
<div class="container">
    <hr>
    <ul id="restaurantTab" class="nav nav-tabs">
        <li class="active">
            <a href="#dish-manager" data-toggle="tab">
                菜品管理
            </a>
        </li>
        <li><a href="#coupon-manager" data-toggle="tab">优惠券管理</a></li>
        <li><a href="#table-manager" data-toggle="tab">桌位管理</a> </li>
    </ul>
    <div id="restaurantTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="dish-manager">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">添加新菜品</h3>
                            </div>
                            <div class="panel-body">
                                <a href="/ManagementController/add_dish/{{ restaurant.id }}" class="thumbnail">
                                    <img class="img-thumbnail-center-block" style="height:100px" src="/Files/image/icon/add.svg">
                                </a>
                            </div>
                        </div>
                    </div>
                    {% for dish in dishes %}
                        <div class="col-md-3">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{ dish.Name }}</h3>
                                </div>
                                <div class="panel-body">
                                    <p><strong>价格: &yen</strong>{{ dish.Price }}</p>
                                    <div class="text-center">
                                        <a href="{{ dish.Image.url }}" class="thumbnail">
                                            <img class="img-thumbnail-center-block" style="height:100px;" src="{{ dish.Image.url }}" />
                                        </a>
                                    </div>
                                    <button type="button"
                                            class="btn btn-default"
                                            onclick="location.href='{% url 'ManagementController:edit_dish' dish.id %}'">修改</button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="coupon-manager">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">添加新优惠券</h3>
                            </div>
                            <div class="panel-body">
                                <a href="/ManagementController/add_coupon/{{ restaurant.id }}" class="thumbnail">
                                    <img class="img-thumbnail-center-block" style="height:100px" src="/Files/image/icon/add.svg">
                                </a>
                            </div>
                        </div>
                    </div>
                    {% for coupon in coupons %}
                        <div class="col-md-3">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{ coupon.Name }}</h3>
                                </div>
                                <div class="panel-body">
                                    <p><strong>发行价格: </strong>{{ coupon.Price }}</p>
                                    <p><strong>抵用金额: </strong>{{ coupon.Value }}</p>
                                    <p><strong>发行数量: </strong>{{ coupon.Amount }}</p>
                                    <p><strong>备注: </strong>{{ coupon.Notes }}</p>
                                    <button type="button"
                                            class="btn btn-default"
                                            onclick="location.href='{% url 'ManagementController:edit_coupon' coupon.id %}'">修改</button>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="col-md-4">
                            <div class="text-center">
                                <h2>暂无优惠券</h2>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="table-manager">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">添加新的桌位</h3>
                            </div>
                            <div class="panel-body">
                                <a href="/ManagementController/table_add/{{ restaurant.id }}" class="thumbnail">
                                    <img class="img-thumbnail-center-block" style="height:100px" src="/Files/image/icon/add.svg">
                                </a>
                            </div>
                        </div>
                    </div>
                    {% for table in tables %}
                        <div class="col-md-3">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">桌号 {{ table.TableNum }}</h3>
                                </div>
                                <div class="panel-body">
                                    <p><strong>桌位容量：</strong>{{ table.Capacity }}</p>
                                    <p><strong>对外预订开启时间：</strong>{{ table.OpenTime|date:"Y-m-d" }}</p>
                                    {% if table.CloseTime %}
                                        <p><strong>对外预订关闭时间：</strong>
                                            {{ table.CloseTime|date:"Y-m-d" }}
                                        </p>
                                    {% else %}
                                        <p>
                                            <strong>对外预订关闭时间：</strong>
                                            无
                                        </p>
                                    {% endif %}
                                    <button type="button" class="btn btn-default" onclick="location.href='{%url 'ManagementController:table_edit' table.id%}'">修改</button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}