{% extends "ApplyController/base.html" %}

{% load bootstrap3 %}
{% load static %}

{% block header %}
<div class="container">
    <div class="page-header" style="margin-top:0px;">
        <h2>{{ restaurant.Name }}——用户评论</h2>
    </div>
</div>
{% endblock header %}

{% block content %}
{% if result %}
<div class="container">
    <div class="container">
        <div class="wrapper row">
            <div class="col-md-12">
                <div class="panel">
                    {% for r in result %}
                    <div class="panel panel-default arrow left">
                        <div class="panel-body">
                            <header class="text-left">
                                <div class="comment-user"><i class="glyphicon glyphicon-user"></i>  {{r.UserID}}</div>
                                {% ifequal r.Score 5 %}
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                {% endifequal %}

                                {% ifequal r.Score 4 %}
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star-empty"></i>
                                {% endifequal %}

                                {% ifequal r.Score 3 %}
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star-empty"></i>
                                <i class="glyphicon glyphicon-star-empty"></i>
                                {% endifequal %}

                                {% ifequal r.Score 2 %}
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star-empty"></i>
                                <i class="glyphicon glyphicon-star-empty"></i>
                                <i class="glyphicon glyphicon-star-empty"></i>
                                {% endifequal %}

                                {% ifequal r.Score 1 %}
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star-empty"></i>
                                <i class="glyphicon glyphicon-star-empty"></i>
                                <i class="glyphicon glyphicon-star-empty"></i>
                                <i class="glyphicon glyphicon-star-empty"></i>
                                {% endifequal %}

                                {% ifequal r.Score 0 %}
                                <i class="glyphicon glyphicon-star-empty"></i>
                                <i class="glyphicon glyphicon-star-empty"></i>
                                <i class="glyphicon glyphicon-star-empty"></i>
                                <i class="glyphicon glyphicon-star-empty"></i>
                                <i class="glyphicon glyphicon-star-empty"></i>
                                {% endifequal %}
                                <br>
                                <time class="comment-date"><i class="glyphicon glyphicon-time"></i>   {{r.ReviewTime}}</time>
                            </header>

                            <div class="comment-post">
                                <br>
                                <p>{{r.Content}}</p>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p>No Comment yet</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <ul class="pagination">
        {% if result.has_previous %}
            <li><a href="/ManagementController/review/{{restaurant.id}}/?page={{result.previous_page_number}}">上一页</a> </li>
        {% endif %}

        {% for num in result.paginator.page_range %}
            {% ifequal num result.number %}
            <li class="active"><a href="/ManagementController/review/{{restaurant.id}}/?page={{ num }}">{{ num }}</a></li>
            {% else %}
            <li><a href="/ManagementController/review/{{restaurant.id}}/?page={{ num }}">{{ num }}</a></li>
            {% endifequal %}

        {% endfor %}

        {% if result.has_next %}
            <li><a href="/ManagementController/review/{{restaurant.id}}/?page={{result.next_page_number}}">下一页</a> </li>
        {% endif %}
    </ul>
</div>
{% endif %}
{% endblock content %}