{%extends "UserController/base.html"%}
{% load bootstrap3 %}

{% block header %}
<h1><i class="glyphicon glyphicon-shopping-cart">订单详情</i> </h1>
{% endblock header %}


{% block content %}
<div class="container">
    {% if dishes %}
    <table class="table table-hover">
        <thead>
            <tr>
              <th>菜名</th>
              <th>数量</th>
              <th>单价</th>
            </tr>
        </thead>
        <tbody>
            {% for dish in dishes %}
            <tr>
                <td>{{dish.Name}}</td>
                <td>
                    {% for d,v in carts.items %}
                    {% ifequal dish.id d|add:0 %}
                    {{v}}
                    {% endifequal %}
                    {% endfor %}
                </td>
                <td>{{dish.Price}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="col-sm-12 ">
        <div class="result pull-left"><strong>总价：{{value}}</strong></div>
        <br>
        <div class="result pull-left">
            <strong>备注：</strong>
            <input type="text" id="extra" class="form-control" placeholder="不要香菜">
            <button class="btn btn-default"><a href="{%url 'UserController:order' restaurant.id %}">返回</a></button>
            <button class="btn btn-default"><a href="{%url 'UserController:detail' restaurant.id %}" id="confirm" data-id="{{restaurant.id}}">确认订单</a></button>
        </div>
    </div>
    {% else %}
    <p>还没点菜哦</p>
    <a href="{%url 'UserController:order' restaurant.id %}">返回</a>
    {% endif %}
</div>


<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script type="text/javascript">
    $("#confirm").click(function(){
        var id = $(this).data("id");
        var text = document.getElementById("extra").value;
        console.log(text);
        $.ajax({
            url:'../../../UserController/confirm/',
            data:{
                'id':id,
                'note':text,
            },
            type:"POST",
            dataType:"json",
            success:function(data){
                if (data["status"]=="ok"){
                    console.log("下单");
                }
            }
        })
    })
</script>

{% endblock content %}