<p>Detail</p>

<div>
    <ul>
        <li><img src="./{{restaurant.Image}}/"></li>
        <li>餐厅名：{{restaurant.Name}}</li>
        <li>开始营业时间：{{restaurant.BusinessStartHour}}</li>
        <li>结束营业时间：{{restaurant.BusinessEndHour}}</li>
        {% if favorite == 1 %}
        <li><button class="favorite" data-id="{{restaurant.id}}">取消收藏</button></li>
        {% else %}
        <li><button class="favorite" data-id="{{restaurant.id}}">收藏</button></li>
        {% endif %}
        <li><a href="{%url 'UserController:order' restaurant.id%}">预先点餐</a></li>
        {% if coupons %}
            <li><a href="{%url 'UserController:coupon' restaurant.id %}">优惠券</a></li>
        {% else %}
            <li>暂无优惠券</li>
        {% endif %}
        <li><a href="{%url 'UserController:review' restaurant.id%}">我要点评</a> </li>
        <li><a href="{% url 'UserController:make_reservation' restaurant.id %}">我要预约</a></li>
    </ul>
</div>
<br>

<!--评论部分-->
<div>
    {% if result %}
    <ul>
        {% for r in result %}
        <li>用户：{{r.UserID}}</li>
        <li>评分：{{r.Score}}</li>
        <li>评价内容：{{r.Content}}</li>
        <li><a class="thump" data-id="{{r.id}}">点赞数:<span id="{{r.id}}">{{r.ThumbUpCount}}</span></a></li>
        <li>时间：{{r.ReviewTime}}</li>
        <br>
    </ul>
        {% empty %}
            <p>No Comment yet</p>
        {% endfor %}
    {% endif %}
    <ul class="pagination">
        {% if result.has_previous %}
            <li><a href="/UserController/detail/{{restaurant.id}}/?page={{result.previous_page_number}}">上一页</a> </li>
        {% endif %}
        {% if result.has_next %}
            <li><a href="/UserController/detail/{{restaurant.id}}/?page={{result.next_page_number}}">下一页</a> </li>
        {% endif %}

    </ul>
</div>


<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script type="text/javascript">
    $(".favorite").click(function(){
        console.log("loaded")
        var id = $(this).data('id');
        if($(this).html()=="收藏"){
            $.ajax({
                url:'../../../UserController/favorite/',
                data:{
                    'id':id,
                },
                type:"POST",
                dataType:"json",
                success:function(data){
                    if (data["status"]=="ok"){
                        window.alert("收藏成功")
                        btn = document.getElementsByClassName("favorite")[0];
                        btn.innerText = "取消收藏";
                    }
                }
            })
            console.log("收藏");
        }
        else{
            $.ajax({
                url:'../../../UserController/unfavorite/',
                data:{
                    'id':id,
                },
                type:"POST",
                dataType:"json",
                success:function(data){
                    if (data["status"]=="ok"){
                        window.alert("取消成功")
                        btn = document.getElementsByClassName("favorite")[0];
                        btn.innerText = "收藏";
                    }
                }
            })
        }
    })

    $(".thump").click(function(){
        var id = $(this).data("id");
        console.log(id);
        $.ajax({
            url:'../../../UserController/thump_up/',
            data:{
                'id':id,
            },
            type:"POST",
            dataType:"json",
            success:function(data){
                if (data["status"]=="ok"){
                    console.log("点赞");
                    var s = document.getElementById(id);
                    s.innerText = data["num"];
                }
            }
        })
    })
</script>