{% if dishes %}
<ul>
    {% for dish in dishes%}
    <br>
    <li>{{dish.Image}}</li>
    <li>{{dish.Name}}</li>
    <li>价格：{{dish.Price}}</li>
    <li>类型：{{dish.Type}}</li>
    <li>被推荐次数:{{dish.RecommendCount}}</li>
    <li>
        <button class="add" data-id="{{dish.id}}">add</button>
        {% for d,v in carts.items %}
        {% ifequal dish.id d|add:0 %}
        <span id="{{dish.id}}">{{v}}</span>
        {% endifequal %}
        {% endfor %}
        <button class="minus" data-id="{{dish.id}}">minus</button>
    </li>
    {% endfor %}
</ul>

<div>
    <a href="{%url 'UserController:confirm_order' restaurant.id %}">下单</a>
</div>
{% else %}
    <p>暂无菜品</p>
    <a href="{%url 'UserController:detail' restaurant.id %}">返回</a>
{% endif %}


<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script type="text/javascript">
$(document).ready(function(){
    $(".add").click(function(){
        var id = $(this).data("id");
        $.ajax({
                url:'../../../UserController/add/',
                data:{
                    'id':id,
                },
                type:"POST",
                dataType:"json",
                success:function(data){
                    if (data["status"]=="ok"){
                        var s = document.getElementById(id);
                        s.innerText = data["num"];
                    }
                }
            })
    })
})

$(document).ready(function(){
    $(".minus").click(function(){
        var id = $(this).data("id");
        $.ajax({
                url:'../../../UserController/minus/',
                data:{
                    'id':id,
                },
                type:"POST",
                dataType:"json",
                success:function(data){
                    if (data["status"]=="ok"){
                        var s = document.getElementById(id);
                        s.innerText = data["num"];
                    }
                }
            })
    })
})

</script>