{%extends "UserController/base.html"%}
{% load bootstrap3 %}

{% block header %}
    <h3>
        评价餐厅 II--推荐菜品
    </h3>
{% endblock header %}

{% block content %}
<form action="{% url 'UserController:recommend' restaurant.id %}" method="post">
    {% for dish in dishes %}
    <div class="form-group">
        <div class="col-xs-6 col-md-3" style="padding-left:0">
            <img class="img-round" src="/Files/{{dish.Image}}" alt="prewiew" width="120" height="80">
            <input type="checkbox" value="{{dish.id}}" name="check_box_list" class="checkbox">{{dish.Name}}
        </div>
    </div>
    {% endfor %}
    <input style="width:100%;visibility: hidden" class="form-control" disabled="true" value="在上面选择你的推荐菜品" >

    <div class="btn-group">
        <button type="submit" class="btn btn-primary">提交</button>
    </div>
</form>
{% endblock content %}

