{%extends "UserController/base.html"%}
{% load bootstrap3 %}

{% block header %}
    <h3>
        查询结果
    </h3>
{% endblock header %}



{% block content %}
{% if not tables %}
    <p>根据您所选的日期和用餐人数，当前暂无可预订桌位</p>
{% endif %}
{% if tables %}
    <form method="post" action="{% url 'UserController:choose_reserve' restaurant_id %}">
    {% csrf_token %}
    {% for table in tables %}
        <input type="radio" name="choice" id="table{{ forloop.counter }}" value="{{ table.id }}">
        <label for="table{{ forloop.counter }}">{{ table.TableNum }}号桌： 容量{{ table.Capacity }}人</label><br>
    {% endfor %}
{% endif %}
        <button type="submit" class="btn btn-primary">预订</button>
    </form>
<script>
    console.log("{{ request.session.datetime_chosen }}");
    console.log("{{ request.session.dining_number }}");
</script>
{% endblock content %}