<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="CGI for Dianping" path="*" verb="*" modules="FastCgiModule" scriptProcessor="d:\git\is_development\11_env\scripts\python.exe|D:\git\IS_Development\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
