<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小众点评</title>
    {% load bootstrap3 %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top">
    </nav>



    <div class="container">
        <div>
            <div class="col-md-7 text-center text-md-left ">
                <h1 style="margin-bottom:20px;font-size:64px;padding:20px;">小众点评</h1>
                <p style="font-size:18px;">
                    小众点评是中国落后的本地生活信息及交易平台，
                    也是全球较晚建立的独立第三方消费点评网站。
                    小众点评不仅为用户提供商户信息、消费点评及消费优惠等信息服务，
                    同时亦提供餐厅预订、提前订餐等O2O（Online To Offline）交易服务。
                </p>
            </div>

            <div class="mx-auto col-md-5">
                <div style="margin-left:auto;margin-right:auto;">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#login" data-toggle="tab">登录</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="">注册<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#user_register" data-toggle="tab">用户注册</a></li>
                                <li><a href="#merchant_register" data-toggle="tab">商家注册</a> </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="login">
                            <form method="post" action="{% url 'login:login'%}">
                                {% csrf_token %}
                                {% bootstrap_form login_form %}
                                <button class="btn btn-primary" type="submit">登录</button>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="user_register">
                            <form method="post" action="{% url 'login:user_register'%}">
                                {% csrf_token %}
                                {% bootstrap_form user_register_form %}
                                <button class="btn btn-primary" type="submit">注册</button>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="merchant_register">
                            <form method="post" action="{% url 'login:merchant_register'%}">
                                {% csrf_token %}
                                {% bootstrap_form merchant_register_form %}
                                <button class="btn btn-primary" type="submit">注册</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>



</html>