{% extends "ApplyController/base.html" %}

{% load bootstrap3 %}
{% load static %}

{% block header %}
<div class="container">
    <div class="page-header" style="margin-top:0px;">
        <h2>{{ restaurant.Name }}</h2>
    </div>
</div>
{% endblock header %}

{% block content %}

{% if error_message %}
    <a>{{ error_message }}</a>
{% endif %}
<div class="container">
    <div class="row-fluid">
        <div class="col-md-8">
            <ul>
                <li>开始营业时间：{{ restaurant.BusinessStartHour }}</li>
                <li>结束营业时间：{{ restaurant.BusinessEndHour }}</li>
                <li>地址：{{ restaurant.Address }}</li>
                <li>餐厅评分: {{ restaurant.Score }}</li>
                <li>餐厅种类: {{ restaurant.get_Category_display }}</li>
                <li>营业执照：{{ restaurant.LicenseID }}</li>
                <li>申请状态: {{ restaurant.get_Status_display }}</li>
                <li>审核通过时间: {{ restaurant.OpenTime| date:"Y-m-d" }}</li>
            </ul>
        </div>
        <div class="col-md-4">
            {% if restaurant.Image %}
                <img class="img-responsive-center-block" width="400px" src="{{ restaurant.Image.url }}" />
            {% else %}
                <strong><p>暂无图片可显示</p></strong>
            {% endif %}
        </div>
    </div>
</div>
<div class="container">
    <hr>
    <div class="col-md-4">
        <button type="button" class="btn btn-success" onclick="location.href='{% url 'apply:edit' restaurant.id %}'">修改</button>
        <button type="button" class="btn btn-primary" onclick="location.href='/apply/'">返回餐厅列表</button>
    </div>
</div>
<!--<a href="{% url 'apply:edit' restaurant.id %}">修改</a>-->
{% endblock content %}