{% extends "ApplyController/base.html" %}
{% block header %}
<div class="container">
    <div class="page-header" style="margin-top:0px;">
        <h2>申请餐厅列表</h2>
    </div>
</div>
{% endblock header %}

{% block content %}
<div class="container">
    <table class="table table-striped">
    <!--<caption>审核中餐厅</caption>-->
    <thead>
        <tr>
            <th>序号</th>
            <th>餐厅名</th>
            <th>餐厅地址</th>
            <th>审核状态</th>
        </tr>
    </thead>
    <tbody>
    {% for restaurant in apply_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'apply:detail' restaurant.id %}">{{ restaurant.Name }}</a></td>
            <td>{{ restaurant.Address }}</td>
            <td>{{ restaurant.get_Status_display }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<button type="button" class="btn btn-info" onclick="location.href='/apply/add'">增加新餐厅</button>
</div>

{% endblock content %}
